<div class="options-header">
   <button mat-mini-fab (click)="bar_chart()" class="add-button cols-2">
    barchart
  </button>
  <button mat-mini-fab (click)="pie_chart()" class="add-button cols-2">
      pie_chart
      </button>
  <button mat-mini-fab (click)="addItem()" class="add-button cols-2">
      <mat-icon title="bar_chart" >add
      </mat-icon>
  </button>
 
</div>
<gridster [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboard">
    <div class="button-holder">
      <button mat-mini-fab (mousedown)="removeItem($event, item)"
              (touchstart)="removeItem($event, item)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div ngSwitch="{{item.graphind}}">
        <div *ngSwitchCase="'bar_chart'" >
            <ng-container *ngComponentOutlet="currentComponent"></ng-container>
         </div>
        <div *ngSwitchCase="'donut_chart'" [ngClass]="'two'">
            <ng-container *ngComponentOutlet="currentComponent"></ng-container>
        </div>
        <div *ngSwitchDefault>Nothing Found.</div>
    </div> 
  </gridster-item>
</gridster>

<!-- <app-bar></app-bar> -->